<mat-toolbar color="primary" class="header-toolbar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo Portal Estudantil"  (click)="goHome()" />
  </div>

  <div class="user-info" *ngIf="userName">
    <span>{{ userName }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <img [src]="userAvatar" alt="{{ userName }}" class="avatar" />
    </button>
  </div>
  
  <mat-menu #menu="matMenu" #aboveMenu="matMenu" yPosition="above" class="myMenu">
      <button mat-menu-item (click)="logout()">Sair</button>
  </mat-menu>
</mat-toolbar>