<div class="list-container">
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Pesquisar por nome ou email"
    />
    <button (click)="onSearch()">Pesquisar</button>
  </div>

  <div class="list">
    <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>E-mail</th>
        <th>Curso</th>
        <th>Ações
            <button (click)="onInsert()" id="insert-student-button">Inserir</button>
        </th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of filteredStudents">
        <td>{{ student.fullName }}</td>
        <td>{{ student.cpf }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.courseName }}</td>
        <td>
          <button (click)="onEdit(student)">Editar</button>
          <button (click)="onDelete(student)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>